<section class="baseIngredient">
  <div class="baseIngredient-name">
    <h3>{{baseIngredient.name}}</h3>
    {{#each recipe.baseIngredients as |baseIngredient|}}
    <h4>{{name}}</h4>
    {{/each}}
    {{!-- <p>By: {{painting.artist}}</p> --}}
  </div>
</section>