<div>
    <form class="form create-sauce-form">
      <div class="sauce">
        <label for="sauce-name">Sauce Name:</label>
        <input class="sauce-input" type="text" id="sauce-name" name="sauce-name" />
      </div>
      <div class="sauce">
        <label for="baseIngredient-name">Base Ingredient:</label>
        <input class="baseIngredient-input" type="string" id="baseIngredient-name" name="baseIngredient-name" />
      </div>
      <div class="ingredient-name">
        <label for="ingredient">Ingredient:</label>
        <textarea class="ingredient-input" id="ingredient-name" name="ingredient-name"></textarea>
        <button type="submit" class="btn btn-secondary btn-ingredient">Add Ingredient</button>
      </div>
      <div class="sauce-form">
        <button type="submit" class="btn btn-primary btn-sauce">Create a Delicious Sauce</button>
      </div>
    </form>
</div>
