<section class="recipe">
  <div class="recipe-details">
    {{!Show recipe name}}
    <h3>{{recipe.sauce_name}}</h3>
    {{#each recipe.Ingredients as |ingredient|}}
    <h4>{{name}}</h4>
    {{/each}}
  </div>
</section>