
    <div id="loginDiv">
        <h2>Login:</h2>
        <input type="text" id="username" placeholder="username"></input>
        <h2>Password</h2>
        <input type="password" id="password" placeholder="password"><button id="submit">Submit</button></div>

        <script src="login.js"></script>

