<section class="recipe">
  <div class="recipe-details">
    <h3>{{recipe.sauce_name}}</h3>
    {{#each recipe.Ingredients as |ingredient|}}
    <h4>{{ingredient.name}}</h4>
    {{/each}}
    {{!-- <p>By: {{painting.artist}}</p> --}}
  </div>
</section>