
    <div id="signUpDiv">
        <h2>Sign Up</h2>
        <input type="text" id="username" placeholder="username"></input>
        <input type="email" id="signUpEmail" placeholder="email"></input>
        <input type="password" id="signUpPassword" placeholder="password"></input>
        <input type="password" id="confirmPassword" placeholder="Confirm Password"></input>
        <button id="submitSignUp">Submit</button></div>

        <script src="signUp.js"></script>

