h1 {
    color:rebeccapurple;
    text-align: center;
}

nav {
    border-bottom: 1px solid black;
}

a {
   border: 1px solid black;
   border-radius: 15px;
   background-color: pink;
   color: rebeccapurple;
}

h2{
    font-size: small;
}